<?xml version="1.0"?>
<config>
    <modules>
        <Gfernandescs_Subscriber>
            <version>1.0.0</version>
        </Gfernandescs_Subscriber>
    </modules>
    <global>
        <blocks>
            <gfernandescs_subscriber>
                <class>Gfernandescs_Subscriber_Block</class>
            </gfernandescs_subscriber>
        </blocks>
        <models>
            <gfernandescs_subscriber>
                <class>Gfernandescs_Subscriber_Model</class>
            </gfernandescs_subscriber>
        </models>
        <resources>
            <gfernandescs_subscriber_setup>
                <setup>
                    <module>Gfernandescs_Subscriber</module>
                </setup>
            </gfernandescs_subscriber_setup>
        </resources>
        <helpers>
            <gfernandescs_subscriber>
                <class>Gfernandescs_Subscriber_Helper</class>
            </gfernandescs_subscriber>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <gfernandescs_subscriber>
                    <file>gfernandescs/subscriber.xml</file>
                </gfernandescs_subscriber>
            </updates>
        </layout>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <gfernandescs_subscriber_save_additional>
                        <class>gfernandescs_subscriber/observer</class>
                        <method>saveAdditionalData</method>
                    </gfernandescs_subscriber_save_additional>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <gfernandescs_subscriber_add_column>
                        <class>gfernandescs_subscriber/observer</class>
                        <method>addGridColumn</method>
                    </gfernandescs_subscriber_add_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>